
<!doctype html>
<html>

<head>
  <title>Brunch Roulette</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/homework/brunch-roulette/css/reset.css">
  <link rel="stylesheet" href="/homework/brunch-roulette/css/brunch-roulette.css">
  <link href="https://fonts.googleapis.com/css?family=Londrina+Solid" rel="stylesheet">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  
</head>


<body>

<!-- SECTION ONE -->
<!-- ******************************************** -->
<container class="box-one">
  	<header>
  		<h1>brunch roulette</h1>
  	</header>

    <section id="zipcode-search">
      <h2>enter your zip code:</h2>
      <form>
    	 <input class="zip" type="text" name="name">
      </form>
      <div>
      <button class="ready">i'm ready!</button>

      </div>
    </section> 

  <section class="fruits">
    <img src="/homework/brunch-roulette/images/banana.png">
    <img src="/homework/brunch-roulette/images/watermelon.png">
    <img src="/homework/brunch-roulette/images/strawberry.png">
  </section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</container>

<!-- SECTION TWO: Results Page -->
<!-- ******************************************** -->

<container class="box-two">
  <h2>your brunch spot:</h2>
  <ul class="results"></ul>
<!-- Handlebars -->
    <script id="brunchTemplate" type="text/x-handlebars-template">

      {{#each businesses}}
        <li>
          <h3>{{name}}</h3>
          <br>
          <img id="finalImage" src="{{image_url}}">
          <br>
          <h3>{{location.address1}}</h3>
          <br>
          <h3>{{location.zip_code}}</h3>
          <br>
          <h3><a href="{{url}}">Yelp Page</a></h3>
          <br>
          <br>
          <br>         
        </li>
      {{/each}}

    </script>
<br>
<br>
    <div>  
      if you dont like our first idea, try again!
    </div>

  <button class="newSpot">try again</button>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
</container>

<!-- LINKS TO JS -->
<!-- ******************************************** -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="/homework/brunch-roulette/js/brunchRoulette.js"></script>
<script src="/homework/brunch-roulette/js/handlebars.js"></script>

</body>
</html>
